$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$blue: #61C4D9;
$darkGreen: #365A49;

@import "blocks/media.scss";

//z-indexes
$z-fixed-menu: 100;

//normalize
@import url("normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "layout";

//blocks
@import "blocks/hero";
@import "blocks/header";
@import "blocks/hamburger.scss";
@import "blocks/features";
@import "blocks/btn";
@import "blocks/section";
@import "blocks/headline";
@import "blocks/benefits";
@import "blocks/benefits-section.scss";
@import "blocks/reviews.scss";
@import "blocks/interactive-avatar.scss";
@import "blocks/order.scss";
@import "blocks/form.scss";
@import "blocks/radio.scss";
@import "blocks/menu.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/media.scss";
@import "blocks/slider.scss";
@import "blocks/dropdown.scss";
@import "blocks/vertical.scss";