.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(40px);
    }

    &:before {
        content: url("../img/decor/decor-why.svg");
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }

        @include phones {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}

.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
        margin-bottom: rem(31px);
    }
}

.benefit__image {
    @include phones {
        margin-right: rem(12px);
    }
}
.benefit__image-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: rem(64px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-size: rem(27px);
    font-weight: 700;
    color: #292929;
    margin-bottom: rem(18px);

    @include phones {
        margin-bottom: rem(10px);
    }
}

.benefit__desc {
    font-weight: 300;
    color: #666;
}