.features {
    display: flex;
}

.features__item {
    margin-right: 40px;

    &:last-child{
        margin-right: 0;
    }
}

.feature {
    display: flex;
    max-width: 114px;
}

.feature__icon {
    margin-right: 12px;

    &-img {
        width: 38px;
        height: 35px;
    }
}

.feature__text {
    font-size: 16px;
}