.features {
    display: flex;
}

.features__item {
    margin-right: rem(50px);

    &:last-child{
        margin-right: 0;
    }
}

.feature {
    display: flex;
    max-width: rem(120px);
}

.feature__icon {
    margin-right: rem(13px);

    &-svg {
        width: rem(40px);
        height: rem(36px);
        fill: #fff;
    }
}

.feature__text {
    font-size: rem(16px);
    line-height: 1.3;
}