.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(17px) 0;
    background: #fff;

    @include tablets {
        padding: rem(27px) 0;
    }
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
    }
}

.footer__contacts {
    display: inline-block;
    align-items: center;
    justify-content: flex-start;

    @include phones {
        margin-bottom: rem(12px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__contacts-address {
    margin-bottom: rem(6px);
    color: #292929;
    font-weight: 400;
    font-size: 21px;
}

.footer__contacts-phone {

    &-icon {
        display: inline-block;
        width: rem(12px);
        height: rem(12px);
        margin-right: rem(7px);
    }

    &-number {
        text-decoration: none;
        color: #497870;
        font-weight: 400;
        font-size: 21px;
    }
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: start;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(14px);

    &:last-child {
        margin-right: 0;
    }
}

.socials__link {
    display: block;
    text-decoration: none;
    width: rem(20px);
    height: rem(20px);

    &--vk {
        background: url("../img/socials/vk.png") center center no-repeat;
    }

    &--fb {
        background: url("../img/socials/fb.png") center center no-repeat;

        &:hover {
            background: url("../img/socials/fb-hover.png") center center no-repeat;
        }
    }

    &--in {
        background: url("../img/socials/in.png") center center no-repeat;
    }

    &--tw {
        background: url("../img/socials/tw.png") center center no-repeat;
    }
}