.form {
    display: flex;
    
    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(12px);
}

.form__block {
    flex: 1;
    margin-right: rem(17px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    padding: rem(18px) rem(12px);
    border: rem(3px) solid transparent;

    @include phones {
        padding: rem(8px) rem(10px);
    }

    @include tablets {
        padding: rem(8px) rem(10px);
    }

    &--textarea {
        height: rem(150px);
        resize: none;

        @include phones {
            height: rem(80px);
        }

        @include tablets {
            height: rem(80px);
        }
    }

    &:focus {
        border-color: #DEE2BD;
        outline: none;
    }

    &.input-error {
        border-color: hotpink;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(21px);

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    @include tablets {
        display: flex;
        justify-content: center;
        margin-top: rem(39px);
    }
}