.hamburger {
    display: none;

    @include tablets {
        display: flex;
        z-index: 100;
        position: fixed;
        top: rem(29px);
        right: rem(24px);
        width: rem(26px);
        height: (24px);
    }
}

.hamburger__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: rem(26px);
    height: rem(24px);
    min-height: 100%;
}

.hamburger__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;
    transition: transform .5s;
    width: 100%;
}

.hamburger__link--active {

    .hamburger__plank {
        position: absolute;
        transition: transform .5s;
    }

    .hamburger__plank:first-child {
        transform: rotate(-45deg);
        top: 10px;
    }

    .hamburger__plank:nth-child(2) {
        top: -100px;
    }

    .hamburger__plank:last-child {
        transform: rotate(45deg);
        top: 10px;
    }
}