.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    width: rem(53px);
    height: rem(38px);
    fill: #fff;
}

.menu {
    margin: 0 30px;
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(30px);
    margin-top: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone-number {
    font-size: rem(22px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon-phone {
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(7px);
    flex-shrink: 0;
    fill: #fff;
}

.phone-number__text {
    white-space: nowrap;
}