.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
}

.phone-number {
    font-size: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon-elem {
    width: 14px;
    height: 14px;
    margin-right: 16px;
}