.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(19px);
}

.headline__subtitle {
    padding: 0 28%;
    margin-bottom: rem(50px);

    @include tablets {
        padding: 0 23%;
    }
    
    @include phones {
        padding: 0 5%;
    }
}