.hero {
    background: url("../img/decor/branch.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color: #fff;
    position: relative;

    &:before {
        position: absolute;
        bottom: -40px;
        left: 2%;
        content: url("../img/decor/leaf.png");
    }

    &:after {
        position: absolute;
        bottom: -40px;
        content: url("../img/decor/comp.png");
        right: 0;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 50px;
    background: url("../img/decor/chocolates.png") right center / 50% auto no-repeat;
}

.hero__title-section {
    width: 40%;
}
.hero__main-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 32px;
}