.hero {
    background: url("../img/decor/branch.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: rem(650px);
    color: #fff;
    position: relative;

    @include tablets {
        background-position: right bottom 97%;
        min-height: rem(1000px);
    }

    &:before, &:after {
        @include tablets {
            display: none;
        }
    }

    &:before {
        position: absolute;
        bottom: rem(-40px);
        left: 2%;
        content: url("../img/decor/leaf.png");
    }

    &:after {
        position: absolute;
        bottom: rem(-40px);
        content: url("../img/decor/comp.png");
        right: 0;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(50px);
    background: url("../img/decor/chocolates.png") right center / 50% auto no-repeat;

    @include tablets {
        background: none;
    }
}

.hero__title-section {
    width: 40%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before {
            content: "";
            width: rem(353px);
            height: rem(367px);
            background: url("../img/decor/comp-tablets.png") center center / contain no-repeat;
        }
    }
}

.hero__icons-section {
   @include tablets {
        display: none;
   }
}

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: rem(17px);
}

.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(32px);

    @include tablets {
        padding: 0 23%;
    }

    @include phones {
        padding: 0 15%;
    }
}
