.review-section {
    position: relative;
    background: url("../img/decor/review-strawberry.svg") right top 7% no-repeat;

    @include phones {
        background: url("../img/decor/review-strawberry.svg") right top no-repeat;
    }
    

    &:before {
        content: url("../img/decor/review-leaf.svg");
        position: absolute;
        left: 0;
        bottom: -30%;
        }

    &:after {
        content: url("../img/decor/review-berries.svg");
        position: absolute;
        left: 0;
        bottom: -18%;
    }
}

.review--title {
    margin-bottom: rem(32px);

    @include tablets {
        color: #000;
    }
}

.reviews__display {
    background: url("../img/reviews/review-branch.svg") right top 15% no-repeat;
    background-color: #F8FAF9;
    padding: rem(42px) rem(142px) rem(42px) rem(42px);
    margin-bottom: rem(15px);
    overflow: hidden;
    position: relative;

    @include tablets {
        padding: rem(56px) rem(30px) rem(8px);
        margin-bottom: rem(32px);
    }

    @include phones {
        margin-bottom: rem(49px);
    }

    &:before {
        content: "";
        display: block;
        width: rem(83px);
        height: rem(83px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-61px);
    }
}

.reviews__list {
    position: relative;
    min-height: rem(300px);
}

.reviews__item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.reviews__item.active {
    position: static;
    opacity: 1;
    pointer-events: unset;
}

.reviews__display-inner {
    display: flex;
    position: relative;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviews__avatar {
    width: rem(253px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
        margin-bottom: rem(32px);
    }

    @include phones {
        margin-bottom: rem(16px);
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(40px);

    @include tablets {
        margin-left: 0;
    }
}

.reviews__title {
    font-size: rem(27px);
    font-weight: 700;
    margin-bottom: rem(12px);
    color: #292929;
}

.reviews__text {
    margin-bottom: rem(25px);
}

.reviews__author {
    font-weight: 500;
    color: #292929;

    @include tablets {
        color: #000;
    }
}



/*reviews-switcher*/


.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switcher-item {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;
    overflow: hidden;
    border: rem(4px) solid transparent;
    position: relative;

    &.active {
        border-color: #365A49;
    }
    
    &:hover {
        border-color: #365A49;
    }
}

.reviews__switcher-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

.reviews__switcher-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}