.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
        min-height: rem(1000px);
    }

    @include tablets {
        min-height: rem(800px);
    }

    &--font-color--green {
        color: #497870;

        .section__title {
            color: $darkGreen;
        }
    }
}

.section__title {
    font-size: rem(48px);
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: rem(50px);
    text-align: center;
}