.slider-section {
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: rem(640px);
    background: #f8faf9;

    &:before {
        content: url("../img/decor/leaf-slider.png");
        position: absolute;
        right: 0;
        bottom: -23%;
    }

    &:after {
        content: url("../img/decor/blueberries-slider.png");
        position: absolute;
        right: 1%;
        bottom: -5%;
    }

    @include tablets {
        min-height: rem(816px);
    }
}

.slider {
    display: flex;
    position: relative;
}

.arrow {
    position: absolute;
    display: block;
    top: 50%;
    width: rem(14px);
    height: rem(27px);

    &-right {
        right: 0;
    }
}

.arrow__icon {
    fill: none;
    stroke: #000;
    stroke-width: rem(2px);
    width: 100%;
    height: 100%;
}

.slider__content {
    display: flex;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.slider__image {
    flex: 1;
    max-width: 100%;
    max-height: 100%;

    @include tablets {
        width: rem(342px);
        height: rem(322px);
    }
}

.composition__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    width: rem(91px);
    height: rem(91px);
    background-color: #86c3d7;
    border-radius: 4px;

    &:hover {
        background-color: #60aacc;
    }
}

.composition {
    width: rem(91px);
    height: rem(91px);
    margin-bottom: rem(23px);

    &:hover ~ .composition__dropdown {
        right: rem(30px);
        opacity: 1;
    }

    @include tablets {
        display: none;
    }
}

.composition__btn-icon-click {
    width: rem(91px);
    height: rem(91px);
    fill: #fff;
}

.slider__textcontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: rem(370px);

    @include tablets {
        justify-content: center;
        width: rem(550px);
    }

    @include phones {
        width: rem(380px);
    }
}

.slider__title {
    font-size: rem(36px);
    font-weight: 700;
    color: #292929;
    text-transform: uppercase;
    margin-bottom: rem(23px);

    @include tablets {
        text-align: center;
    }
}

.slider__text {
    margin-bottom: rem(24px);

    @include tablets {
        text-align: center;
    }
}

.slider__list {
    display: flex;

    @include tablets {
        justify-content: center;
    }
}

.slider__item {
    margin-right: rem(44px);
    margin-bottom: rem(24px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        text-align: left;
        margin-bottom: rem(10px);
    }
}

.slider__item-title {
    color: #666;
    font-size: rem(18px);
    margin-bottom: 0;
}

.slider__item-desc {
    color: #000;
    font-weight: 700;
    font-size: rem(18px);
}

.slider__order {
    display: flex;

    @include tablets {
        justify-content: center;
    }
}

.slider__order-price {
    color: #151515;
    max-width: rem(160px);
    font-size: rem(60px);
    font-weight: 300;
    margin-right: rem(30px);
}

.slider__order-btn {
    display: flex;
    align-items: center;
}

.click {
    fill: #fff;
}